header {
	color: #ecc94b;
	font-family: "Russo One", sans-serif;
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 90px;
	font-size: 40px;
}

.yoda {
	height: 250px;
	width: auto;
}

.sign {
	height: 250px;
	width: auto;
}

button {
	font-family: "Russo One", sans-serif;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	font-size: 20px;
	margin-top: 20px;
	width: 100%;
}

.hide {
	display: none;
}

@-webkit-keyframes flip-scale-2-hor-top {
	0% {
		-webkit-transform: translateY(0) rotateX(0) scale(1);
		transform: translateY(0) rotateX(0) scale(1);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
	}
	50% {
		-webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
		transform: translateY(-50%) rotateX(-90deg) scale(2);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	100% {
		-webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
		transform: translateY(-100%) rotateX(-180deg) scale(1);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}
}
@keyframes flip-scale-2-hor-top {
	0% {
		-webkit-transform: translateY(0) rotateX(0) scale(1);
		transform: translateY(0) rotateX(0) scale(1);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
	}
	50% {
		-webkit-transform: translateY(-50%) rotateX(-90deg) scale(2);
		transform: translateY(-50%) rotateX(-90deg) scale(2);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	100% {
		-webkit-transform: translateY(-100%) rotateX(-180deg) scale(1);
		transform: translateY(-100%) rotateX(-180deg) scale(1);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}
}
